<!-- SLIDER -->
<section id="slider" class="no-padding">
    <div id="slider-carousel" class="boxed-slider">
        @foreach (var item in ViewBag.Slides)
        {
        <div style="background-image:url('/Uploads/@item.Photo');" class="owl-bg-img">

            <div class="container-fullscreen">
                <div class="text-middle">
                    <a style="display:block;width:100%;height:100%;" href="@item.Url">&nbsp;</a>
                </div>
            </div>
        </div>
        }
    </div>
</section>
<!-- END: SLIDER -->

<!-- SHOP PRODUCTS -->
<section>
    <div class="container">

        <div class="heading m-b-40">
            <h4>Öne Çıkan Ürünler</h4>
        </div>

        <!--Product list-->
        <div class="shop">
            <div class="row">
                @foreach (var product in ViewBag.FeaturedProducts)
                {
                <div class="col-md-3">
                    <div class="product">
                        <div class="product-image">
                            <a href="/#">
                                <img alt="@product.Name" src="~/Uploads/@product.Photo" style="width:100%;">
                            </a>
                            <span class="product-new">NEW</span>
                            <span class="product-wishlist">
                                <a href="/#"><i class="fa fa-heart"></i></a>
                            </span>
                            <div class="product-overlay">
                                <a href="/include/ajax/example-shop-product.html" data-lightbox-type="ajax">Quick View</a>
                            </div>
                        </div>

                        <div class="product-description">
                            <div class="product-category">@product.Category.Name</div>
                            <div class="product-title">
                                <h3>@product.Name</h3>
                            </div>
                            <div class="product-price">
                                <ins>₺@product.Price</ins>
                            </div>
                        </div>
                    </div>
                </div>
                }
            </div>
        </div>
    </div>
</section>
<!-- END: SHOP PRODUCTS -->
<!-- DELIVERY INFO -->
<section class="background-grey p-t-40 p-b-0">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="icon-box effect small clean">
                    <div class="icon">
                        <a href="/#"><i class="fa fa-gift"></i></a>
                    </div>
                    <h3>₺60 üstü ÜCRETSİZ Kargo</h3>
                    <p>₺60 ve üstü alışveriş yapan herkese ücretsiz kargo. Daha fazla bilgi.</p>
                </div>
            </div>

            <div class="col-md-4">
                <div class="icon-box effect small clean">
                    <div class="icon">
                        <a href="/#"><i class="fa fa-plane"></i></a>
                    </div>
                    <h3>Dünyanın Heryerine</h3>
                    <p>Bu ülkelerede ürün gönderiyoruz: USA, Canada, Europe, Australia</p>
                </div>
            </div>

            <div class="col-md-4">
                <div class="icon-box effect small clean">
                    <div class="icon">
                        <a href="/#"><i class="fa fa-history"></i></a>
                    </div>
                    <h3>60 gün içinde para iade garantisi</h3>
                    <p>Üründen memnun kalmadıysanız, paranız %100 geri verilir.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- END: DELIVERY INFO -->

<!-- END: SHOP CATEGORIES -->
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="hr-title hr-long center"><abbr>Kategoriler </abbr> </div>

            </div>
        </div>

        <div class="shop-category">
            <div class="row">
                @foreach (var category in ViewBag.BrowserOurCategories)
                {
                <div class="col-md-3">
                    <div class="shop-category-box">
                        <a href="@Url.Action("Index" , "Products", new { categoryId = category.Id})">
                            <img alt="" src="~/Uploads/@category.Photo">
                            <div class="shop-category-box-title text-center">
                                <h6>@category.Name</h6><small>@category.PublishedProducts.Count  Ürün</small>
                            </div>
                        </a>
                    </div>
                </div>
                }

            </div>
        </div>
    </div>
</section>
<!-- END: SHOP CATEGORIES -->