@model Order;
@{
    ViewData["Title"] = "Checkout";
}
<!-- PAGE TITLE -->
<section id="page-title" class="page-title-parallax page-title-center text-dark" style="background-image:url(images/parallax/page-title-parallax.jpg);">
    <div class="container">
        <div class="page-title col-md-8">
            <h1>Alışverişi Tamamla</h1>
            <span>Alışveriş Detayları</span>
        </div>
        <div class="breadcrumb col-md-4">
            <ul>
                <li>
                    <a href="#"><i class="fa fa-home"></i></a>
                </li>
                <li>
                    <a href="@Url.Action("Index", "Home")">Anasayfa</a>
                </li>
                <li>
                    <a href="#">Alışveriş</a>
                </li>
                <li class="active">
                    <a href="#">Alışverişi Tamamla</a>
                </li>
            </ul>
        </div>
    </div>
</section>
<!-- END: PAGE TITLE -->
<!-- SHOP CHECKOUT -->
<section id="shop-checkout">
    <div class="container">
        <div class="shop-cart">
            <form method="post" class="sep-top-md">
                <div class="row">
                    <div class="col-md-6 no-padding">
                        <div class="col-md-12">
                            <h4 class="upper">Billing & Shipping Address</h4>
                        </div>
                        <div class="col-md-12 form-group">
                            <label class="sr-only">Ülke</label>
                            <select asp-for="Customer.BillingCountry" class="fullwidth" asp-items="ViewBag.Countries">

                                <option value="">Ülke seçiniz</option>
                            </select>
                        </div>
                        <div class="col-md-6 form-group">
                            <label class="sr-only">Ad</label>
                            <input asp-for="Customer.BillingFirstName" type="text" class="form-control input-lg" placeholder="Ad">
                        </div>
                        <div class="col-md-6 form-group">
                            <label class="sr-only">Soyad</label>
                            <input asp-for="Customer.BillingLastName" type="text" class="form-control input-lg" placeholder="Soyad">
                        </div>
                        <div class="col-md-6 form-group">
                            <label class="sr-only">TC Kimlik No/Vergi No</label>
                            <input asp-for="Customer.BillingIdentityNumber" type="text" class="form-control input-lg" placeholder="TC Kimlik No/Vergi No">
                        </div>
                        <div class="col-md-12 form-group">
                            <label class="sr-only">Firma Adı</label>
                            <input asp-for="Customer.BillingCompanyName" type="text" class="form-control input-lg" placeholder="Firma Adı">
                        </div>
                        <div class="col-md-6 form-group">
                            <label class="sr-only">Şehir</label>
                            <select asp-for="Customer.BillingCity" class="form-control input-lg" placeholder="Şehir">
                                <option value="">Şehir şeçini<</option>
                            </select>
                        </div>
                        <div class="col-md-6 form-group">
                            <label class="sr-only">İlçe</label>
                            <select asp-for="Customer.BillingCounty" type="text" class="form-control input-lg" placeholder="İlçe">
                                <option value="">İlçe Seçiniz</option>
                            </select>
                        </div>
                        <div class="col-md-6 form-group">
                            <label class="sr-only">Mahalle/Semt</label>
                            <input asp-for="Customer.BillingDistrict" type="text" class="form-control input-lg" placeholder="Mahalle/Semt">
                        </div>
                        <div class="col-md-6 form-group">
                            <label class="sr-only">Cadde/Sokak</label>
                            <input asp-for="Customer.BillingStreet" type="text" class="form-control input-lg" placeholder="Cadde/Sokak">
                        </div>
                        <div class="col-md-6 form-group">
                            <label class="sr-only">Apartman, suit, kapı no ,vb</label>
                            <input asp-for="Customer.BillingAdress" type="text" class="form-control input-lg" placeholder="Apartman, suit, kapı no ,vb">
                        </div>


                        <div class="col-md-6 form-group">
                            <label class="sr-only">Posta Kodu</label>
                            <input asp-for="Customer.BillingZipCode" type="text" class="form-control input-lg" placeholder="Posta Kodu">
                        </div>
                        <div class="col-md-6 form-group">
                            <label class="sr-only">E-Posta</label>
                            <input asp-for="Customer.BillingEmail" type="text" class="form-control input-lg" placeholder="E-Posta">
                        </div>
                        <div class="col-md-6 form-group">
                            <label class="sr-only">Telefon</label>
                            <input asp-for="Customer.BillingPhone" type="text" class="form-control input-lg" placeholder="Telefon">
                        </div>
                        
                    </div>
                    <div class="col-md-6">
                        <h4 class="upper"><a href="#collapseFour" data-toggle="collapse" class="collapsed" aria-expanded="false"> Ship to a different address <i class="fa fa-arrow-circle-o-down"></i></a></h4>
                        <div class="col-md-12 no-padding">
                            <div style="height: 0px;" aria-expanded="false" id="collapseFour" class="panel-collapse row collapse">
                                <div class="panel-body">
                                   
                                    <div class="sep-top-xs">
                                        <div class="row">
                                            <div class="col-md-12 form-group">
                                                <label class="sr-only">Country</label>
                                                <select asp-for="Customer.ShippingCountry" class="full-width" asp-items="ViewBag.Countries">
                                                    <option value="">Ülke Seçini<</option>
                                                </select>
                                            </div>
                                            <div class="col-md-6 form-group">
                                                <label class="sr-only">Ad</label>
                                                <input asp-for="Customer.ShippingFirstName" type="text" class="form-control input-lg" placeholder="Ad">
                                            </div>
                                            <div class="col-md-6 form-group">
                                                <label class="sr-only">Soyad</label>
                                                <input asp-for="Customer.ShippingLastName" type="text" class="form-control input-lg" placeholder="Soyad">
                                            </div>
                                            <div class="col-md-6 form-group">
                                                <label class="sr-only">TC Kimlik No/Vergi No</label>
                                                <input asp-for="Customer.ShippingIdentityNumber" type="text" class="form-control input-lg" placeholder="TC Kimlik No/Vergi No">
                                            </div>
                                            <div class="col-md-6 form-group">
                                                <label class="sr-only">Firma Adı</label>
                                                <input asp-for="Customer.ShippingCompanyName" type="text" class="form-control input-lg" placeholder="Firma Adı">
                                            </div>
                                            <div class="col-md-6 form-group">
                                                <label class="sr-only">Şehir</label>
                                                <select asp-for="Customer.ShippingCity" type="text" class="form-control input-lg" placeholder="Şehir">
                                                    <option value="">Şehir Seçiniz</option>
                                                </select>
                                            </div>
                                            <div class="col-md-6 form-group">
                                                <label class="sr-only">İlçe</label>
                                                <input asp-for="Customer.ShippingCounty" type="text" class="form-control input-lg" placeholder="İlçe">
                                            </div>
                                            <div class="col-md-6 form-group">
                                                <label class="sr-only">Mahalle/Semt</label>
                                                <input asp-for="Customer.ShippingCounty" type="text" class="form-control input-lg" placeholder="Mahalle/Semt">
                                            </div>
                                            <div class="col-md-6 form-group">
                                                <label class="sr-only">Cadde/Sokak</label>
                                                <input asp-for="Customer.ShippingStreet" type="text" class="form-control input-lg" placeholder="Cadde/Sokak">
                                            </div>
                                            <div class="col-md-6 form-group">
                                                <label class="sr-only">Apartman, suit, kapı no, vb</label>
                                                <input asp-for="Customer.ShippingAdress" type="text" class="form-control input-lg" placeholder="Apartman, suit, kapı no, vb">
                                            </div>

                                            <div class="col-md-6 form-group">
                                                <label class="sr-only">Posta Kodu</label>
                                                <input asp-for="Customer.ShippingZipCode" type="text" class="form-control input-lg" placeholder="Posta Kodu">
                                            </div>
                                            <div class="col-md-6 form-group">
                                                <label class="sr-only">E-Posta</label>
                                                <input asp-for="Customer.ShippingEmail" type="text" class="form-control input-lg" placeholder="E-Posta">
                                            </div>
                                            <div class="col-md-6 form-group">
                                                <label class="sr-only">Telefon</label>
                                                <input asp-for="Customer.ShippingPhone" type="text" class="form-control input-lg" placeholder="Telefon">
                                            </div>


                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 no-padding">
                            <textarea asp-for="ShippingNotes" class="form-control input-lg" placeholder="Notes about your order, e.g. special notes for delivery" rows="7"></textarea>
                        </div>
                    </div>
                </div>



            </form>

            <div class="seperator">
                <i class="fa fa-credit-card"></i>
            </div>


            <div class="row">
                <div class="col-md-6">
                    <h4 class="upper">Your Order</h4>
                    <div class="table table-condensed table-striped table-responsive table table-bordered table-responsive">
                        <table class="table m-b-0">
                            <thead>
                                <tr>

                                    <th class="cart-product-thumbnail">Product</th>
                                    <th class="cart-product-name">Description</th>


                                    <th class="cart-product-subtotal">Total</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.Cart.CartItems)
                                {
                                    <tr>


                                        <td class="cart-product-thumbnail">

                                            <div class="cart-product-thumbnail-name">@item.Product.Name</div>
                                        </td>

                                        <td class="cart-product-description">

                                            <p>
                                                @item.Product.Description
                                                <span>(@item.Quantity Adet)</span>
                                            </p>
                                        </td>





                                        <td class="cart-product-subtotal">
                                            <span class="amount">@item.TotalPrice</span>
                                        </td>
                                    </tr>
                                }

                            </tbody>

                        </table>

                    </div>
                </div>
                <div class="col-md-6">
                    <div class="table-responsive">
                        <h4>Order Total</h4>

                        <table class="table">
                            <tbody>
                                <tr>
                                    <td class="cart-product-name">
                                        <strong>Order Subtotal</strong>
                                    </td>

                                    <td class="cart-product-name text-right">
                                        <span class="amount">₺@Model.Cart.TotalPrice</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="cart-product-name">
                                        <strong>Shipping</strong>
                                    </td>

                                    <td class="cart-product-name  text-right">
                                        <span class="amount">Free Shipping</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="cart-product-name">
                                        <strong>Coupon</strong>
                                    </td>

                                    <td class="cart-product-name  text-right">
                                        <span class="amount">₺@string.Format("{0:#,###.##}", Model.Cart.TotalPrice * 0.18M)</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="cart-product-name">
                                        <strong>Total</strong>
                                    </td>

                                    <td class="cart-product-name text-right">
                                        <span class="amount color lead"><strong>₺@string.Format("{0:#,###.##}", Model.Cart.TotalPrice * 1.18M)</strong></span>
                                    </td>
                                </tr>
                            </tbody>

                        </table>

                    </div>
                </div>
                <div class="col-md-6">
                    <h4 class="upper">Payment Method</h4>

                    <table class="payment-method table table-bordered table-condensed table-responsive">
                        <tbody>
                            <tr>
                                <td>
                                    <div class="radio">
                                        <label>
                                            <input type="radio" name="optionsRadios" value=""><b class="dark">Direct Bank Transfer</b>
                                            <br>
                                        </label>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="radio">
                                        <label>
                                            <input type="radio" name="optionsRadios" value=""><b class="dark">Cheque Payment</b>
                                        </label>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="radio">
                                        <label>
                                            <input type="radio" name="optionsRadios" value="" checked=""><img width="90" alt="paypal" src="images/shop/paypal-logo.png">
                                        </label>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <a class="button color button-3d rounded icon-left float-right" href="#"><span>Proceed to PayPal</span></a>
                </div>

            </div>



        </div>
    </div>
</section>
<!-- END: SHOP CHECKOUT -->
<!-- DELIVERY INFO -->
<section class="background-grey p-t-40 p-b-0">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="icon-box effect small clean">
                    <div class="icon">
                        <a href="#"><i class="fa fa-gift"></i></a>
                    </div>
                    <h3>Free shipping on orders $60+</h3>
                    <p>Order more than 60$ and you will get free shippining Worldwide. More info.</p>
                </div>
            </div>

            <div class="col-md-4">
                <div class="icon-box effect small clean">
                    <div class="icon">
                        <a href="#"><i class="fa fa-plane"></i></a>
                    </div>
                    <h3>Worldwide delivery</h3>
                    <p>We deliver to the following countries: USA, Canada, Europe, Australia</p>
                </div>
            </div>

            <div class="col-md-4">
                <div class="icon-box effect small clean">
                    <div class="icon">
                        <a href="#"><i class="fa fa-history"></i></a>
                    </div>
                    <h3>60 days money back guranty!</h3>
                    <p>Not happy with our product, feel free to return it, we will refund 100% your money!</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- END: DELIVERY INFO -->
